{{> header}}
<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <h2 class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Hello there!
    </h2>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      {{companyName}} has invited you to enjoy lunch on Lunchtyme.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Lunchtyme is a online automated lunch ordering service for remote employees like you who do amazing jobs for your
      company.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Please provide the invitation code below when creating an account on the Lunchtyme platform:
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text"
      style="Margin:0;font-weight:bolder;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      {{invitatationCode}}
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- CTA links actions -->

<!-- Button snippet -->
<tr id="button-snippet" class="space-t-1 space-b-1"
  style="Margin:0;margin-bottom:0.5rem;margin-top:0.5rem;display: block;">
  <td style="Margin:0;padding:0;">
    <button id="cta-btn"
      style="Margin:0;padding:0;background:#1C85EB;border:none;padding:8px 25px;border-radius:4px;cursor:pointer;margin-top:0.5rem;margin-bottom:0.5rem;">
      <a href="{{signupURL}}" target="_blank" rel="noopener noreferrer"
        style="Margin:0;padding:0;display:block;width:100%;border-radius:4px;font-size:1rem;font-family:var(--paraFont);text-decoration:none;font-weight:600;cursor:pointer;color:var(--email-Bg-color, #ffffff) !important;">
        Create account on Lunchtyme
      </a>
    </button>
  </td>
</tr>
<!-- End of button snippet -->
<!-- Text snippet -->
<tr id="text-snippet" class="space-t-05" style="Margin:0;margin-top:0.5rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">If the button
      does not work for any reason, you can also paste this link into your browser:
      <a href=" {{signupURL}}" class="link_small" style="Margin:0;padding:0;font-size:1rem;">{{inviteLink}}</a>
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      This invitation will expire 3 days after this email was sent.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

{{> footer}}